@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');

/* base styles */
* {
  margin: 0;
  font-family: "Quicksand";
  color: #333;
}


.navbar {
  padding: 20px;
  display: flex;
  align-items: center;
  max-width: 800px;
  margin: 0 auto;
  border-bottom: 2px solid #ece7e7;
}
.navbar h1 {
  color: #f1356d;
}
.navbar .links {
  margin-left: auto;
}
.navbar a {
  font-weight: bold;
  margin-left: 16px;
  text-decoration: none;
  padding: 5px;
}
.navbar a:hover {
  color: #f1356d;
}
.content {

  max-width: 600px;
  margin: 20px auto;
  padding: 20px;
}

.content-title {
  padding-bottom: 6px;
  border-bottom: 4px solid #e5e9ecea;
}
.year-blocks {
  width: auto;
}

.year-block {
  display: flex;
  max-width: 0vw;
}
.year-text {
  font-size: 3em;
  font-family: 'Franklin Gothic Medium';
  min-width: 250px;
  padding-top: 5px;
  border-left: 10px solid #5f5a5a;
  margin: 7px 5px 5px;
}


.month-blocks {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  min-width: 300px;
  
}
.month-block {
  display: flex;
  justify-content: flex-end;
  min-width: 300px;
  padding-top: 5px;
  margin: 2px 5px 5px;
}
.vertical-line {
  background-color: #333;
  width: 5px;
  min-height: 150px;
}
.vertical-line:hover {
  background-color: rgba(146, 141, 141, 0.575);
  width: 5px;
  height: auto;
}
.month-text {
  height: 20px;
  padding-top: 5px;
  font-family: 'Franklin Gothic Medium', Arial, sans-serif;
}


.product-preview {
  min-width: 250px;
  background-color: #d0d6da44;
  padding: 8px 16px 0;
  margin: 10px 0;
  border-bottom: 1px solid #fafafa;
}
.product-preview:hover {
  background-color: #5f5a5a2c;
}
.product-preview a {
  text-decoration: none;
  display: flex;
  justify-content: space-between;
}
.product-preview h3 {
  font-size: 16px;
  text-align: left;
  color: #f1356d;
  margin-bottom: 5px;
  padding-left: 4px;
  border-left: 3px solid #5f5a5a;
}
.product-preview p {
  font-family: 'Franklin Gothic Medium', Arial, sans-serif;
  text-align: right;

  padding-top: 2px;
}
.product-preview input {
  font-family: 'Franklin Gothic Medium', Arial, sans-serif;
  
}





.product-detail h1 {
  font-size: 30px;
  color: #f1356d;
  margin-bottom: 10px;
}
.product-detail p {
  margin: 20px 0;
}
.product-detail button {
  background-color: #f1356d;
  color: #f2f2f2;
  margin-top: 5px;
  border: 0;
  padding: 5px;
  border-radius: 10px;
  cursor: pointer;
}


.create {
  max-width: 400px;
  margin: 0 auto;
  text-align: center;
}
.create label {
  text-align: left;
  display: block;
}
.create h2 {
  font-size: 20px;
  color: #f1356d;
  margin-bottom: 30px;
}
.create input, .create textarea, .create select {
  width: 100%;
  padding: 6px 10px;
  margin: 10px 0;
  border: 1px solid #333;
  display: block;
}
.create button {
  background-color: #f1356d;
  color: #f2f2f2;
  border: 0;
  padding: 5px;
  border-radius: 8px;
  cursor: pointer;
}